<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-lazy-init="true">

	<!-- Yan 配置 使用自定义注解 @LogInject 注入 logger 对象 -->
	<bean id="logger" class="com.yan.core.injector.LoggerInjector" />

	<!-- Yan 配置 使用自定义注解 @MapperInject 注入 mapper 对象 -->
	<bean id="mapper" class="com.yan.core.injector.MapperInjector" />
	
</beans>
