<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yan.common.menu.mapper.TbSysMenuCustomMapper">
	<resultMap id="menuNodeMap" type="com.yan.common.menu.model.MenuNode">
		<id column="MENU_ID" jdbcType="VARCHAR" property="id" />
		<id column="MENU_PID" jdbcType="VARCHAR" property="pid" />
		<result column="MENU_NAME" jdbcType="VARCHAR" property="name" />
		<result column="MENU_URL" jdbcType="VARCHAR" property="href" />
		<result column="MENU_LEVEL" jdbcType="INTEGER" property="level" />
		<result column="MENU_PARENT" jdbcType="BIT" property="isParent" />
		<result column="MENU_OPEN" jdbcType="BIT" property="open" />
		<result column="MENU_VALID" jdbcType="BIT" property="valid" />
	</resultMap>
	
	<select id="getMenuNode" resultMap="menuNodeMap" parameterType="java.lang.String">
		SELECT MENU_ID, MENU_PID, MENU_NAME, IF(MENU_URL IS NULL, '', MENU_URL) MENU_URL, MENU_LEVEL, IF(MENU_TYPE='folder', TRUE, FALSE) MENU_PARENT, IF(MENU_LEVEL=0, TRUE, IF(MENU_LEVEL=1, TRUE, FALSE)) MENU_OPEN, MENU_VALID FROM TB_SYS_MENU WHERE MENU_PID=#{0} ORDER BY MENU_LEVEL, MENU_INDEX
	</select>
	
	<select id="updateMenuType" parameterType="java.util.HashMap">
		UPDATE TB_SYS_MENU SET MENU_TYPE=#{menuType} WHERE MENU_ID=#{menuId}		
	</select>
	
</mapper>